html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  margin-top: 0;
}
p {
  font-family: Roboto, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slide {
  min-height: 800px !important;
}
.Toastify__toast-body {
  font-family: Roboto, sans-serif;
  text-align: center;
  padding: 10px 5px !important;
  margin: auto;
  font-weight: 100;
  color: white;
  & svg {
    font-size: 20px;
  }
}
.Toastify__toast--success {
  background: #42a285 !important;
}

.Toastify__toast-icon {
  display: none !important;
}
.progressBar {
  background-color: white !important;
}
