.welcomePage {
  min-height: 100vh;
  background: url("http://demo.rommar.in.ua/novanoid/novanoid-1/img/header-1.jpg")
    no-repeat no-repeat fixed;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h1 {
    font-size: 70px;
    margin: 0;
  }
  & p {
    margin: 5px 0;
  }
}
