@import "mixins";
@import "../styles/colors.module.scss";

.walks {
  min-height: 100vh;
}
.jumbotron {
  background: url("https://images.unsplash.com/photo-1544729812-46958d74295c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80")
    no-repeat no-repeat fixed;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h1 {
    color: white;
    font-size: 70px;
  }
  & button {
    @include novanoid-btn(white, $green);
  }
}

.infoSection {
  margin: 100px 0;
  & span,
  img {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029),
      100px 100px 80px rgba(0, 0, 0, 0.04);
  }

  .row {
    margin: 120px 0;
  }
}
.infoText {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  & h3 {
    font-size: 35px;
  }
  & p {
    color: $grey;
    margin-top: 15px;
    max-width: 500px;
    line-height: 30px;
  }
  & svg {
    color: $green;
    margin-right: 20px;
    font-size: 28px;
  }
  & button {
    @include novanoid-btn(white, $green);
    margin-top: 20px;
  }
}
.lightBox {
  z-index: 1;
}

.memoriesSection {
  text-align: center;
  & h2 {
    font-size: 50px;
    margin: 0 0 30px 0;
  }
  & svg {
    margin: 120px 0 10px 0;
    color: $green;
    font-size: 45px;
  }
  & img {
    cursor: pointer;
    position: relative;
    transition: 0.2s ease;
    transform: scale(0.95);
    box-shadow: none;
    &:hover {
      transform: scale(0.9);
    }
  }
}
