.footer {
  min-height: 100px;
  background-color: #333;
  color: white;
  padding: 20px;
  & .footerRow .col {
    justify-content: space-between;
  }
  & p {
    text-align: center;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.808);
    font-weight: 100;
    margin: 20px 0 0 0;
  }
}
.social {
  text-align: end;
  & svg {
    margin: 0 10px;
  }
}
